name: CI Assignment 6

on:
  pull_request:
    types:
      - opened
    paths:
      - 'packages/assignment-6/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Job1 (Build)
        id: job1
        run: |
          pnpm -F assignment-6 install
          pnpm -F assignment-6 build

      - name: Comment on Error
        if: failure() && steps.job1.outcome == 'failure'
        uses: actions/github-script@v4
        with:
          github_token: ${{ secrets.TOKEN_FOR_CI }}
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue_number,
              owner: context.repo.owner,
              repo: context.repo.name,
              body: `Build failed. Please check the error message and fix it.`
            })

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm -F assignment-6 install

      - name: Run ESLint
        id: job2
        run: pnpm -F assignment-6 lint > eslint_output.txt

      - name: Set ESLint output to env
        if: failure() && steps.job2.outcome == 'failure'
        run: echo "ESLINT_OUTPUT=$(cat eslint_output.txt)" >> $GITHUB_ENV

      - name: Comment ESLint results
        uses: actions/github-script@v6
        if: failure() && steps.job2.outcome == 'failure'
        with:
          github-token: ${{secrets.TOKEN_FOR_CI}}
          script: |
            const eslintOutput = process.env.ESLINT_OUTPUT || 'No ESLint output available';
            const errorMessage = `
            ## ESLint Results
            ---
            \`\`\`
            ${eslintOutput}
            \`\`\`
            `;

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.name,
              body: errorMessage
            })

  test:
    runs-on: ubuntu-latest
    steps:
      - name: job3 구현
        run: echo "job3의 내용을 구현해주세요"

  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: job4 구현
        run: echo "job4의 내용을 구현해주세요"

  assign_reviewer:
    runs-on: ubuntu-latest
    steps:
      - name: job5 구현
        run: echo "job5의 내용을 구현해주세요"
